*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared CSS */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    color: #FFFFFF;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* Main CSS */
header{
    background-color: #FFF8E3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    font-size: 45px;
    font-weight: 900;
}
nav .logo .color-orange{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
}
nav ul a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}